@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="ContentContianer">
    <h1>Contact</h1>
    <div class="ContentWrapper">
        <form method="post" action="">
            <input type="text" name="custName" id="custName" placeholder="Please enter your name?" />
            <input type="text" name="custPhoneNo" id="custPhoneNo" placeholder="Please enter your phone number?" />
            <input type="text" name="custEmail" id="custEmail" placeholder="Please enter your email?" />
            <textarea placeholder="Please enter your message?"></textarea>
            <input type="hidden" name="antiBotSpam" id="antiBotSpam" value="" />
            <button type="submit">Send</button>
        </form>
    </div>
</div>
