@model IEnumerable<mobileHairdresser.Database.tblGallery>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio";
}

<div class="ContentContianer">
    <h1>Portfolio</h1>
    <div class="ContentWrapper">
        <div id="PortfolioContainer">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    @foreach (var item in Model)
                                    {
                                        <div class="item" onclick="location.href='@Url.Action("ViewGallery","Portfolio", new { GalleryID = item.GalleryID })'">
                                            <div class="hoverEffect">
                                                    <img src="~/Content/Images/Portfolio/@item.GalleryImg" />
                                                    <div class="overlay">
                                                        <h2>@Html.DisplayFor(modelItem => item.GalleryName)</h2>
                                                        <p class="info">@Html.DisplayFor(modelItem => item.GalleryDiscription)</p>
                                                    </div>
                                            
                                            </div>
                                        </div>
                                    }
                                </div>
                        </div>                  
                      </div>
                 </div>
     </div>
 </div>

