/*      Webpage body reset      */
*{
    padding:0px;
    margin:0px;
    font-family:Consolas;
    font-size:100%;
    color:#000;
}

/* Body layout */

html, body{
    width:100%;
    height:100%;
    background:url(Images/SiteImgs/background.jpg) center center no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
}


/* Main Page Wrapper */

#wrapper{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    border:0px solid #000;
    overflow-x:hidden;
    overflow-y:scroll;
}

/*   Sidebar Wrapper */

#sidebar-wrapper{
    position:absolute;
    display:inline-block;
    width:30%;
    margin-left:0;
    border:0px solid #000;
    overflow-y:hidden;
}
/* Main body Content Wrapper*/
#pageContent-wrapper{
    position:absolute;
    display:inline-block;
    padding-left:30%;
    width:69%;
    height:auto;
    min-height:838px;
    margin:0 1px;
    vertical-align:top;
    background:none;
    padding:0px;
    z-index:99;
    border:1px solid #000;
}
#sidebarContent-wrapper{
    position:relative;
    display:block;
    width:52%;
    min-width:250px;
    min-height:828px;
    height:auto;
    left:20%;
    padding: 25px 0;
    background:rgba(243, 243, 243, 0.6);
    border:0px solid #000;
}
/* Footer */

footer{
    position:absolute;
    bottom:0px;
    width:100%;
    line-height:3.125em;
    background:rgba(128, 128 ,128 ,8);
    text-align:center;
    z-index:999;
}

@media screen and (max-width: 1023px)
{
    #sidebar-wrapper{
        position:absolute;
        background:rgba(243,243,243,0.4);
        display:block;
    }
        #pageContent-wrapper{
        position:absolute;
        width:98.7%;
        left:0;
        margin: 0 5px;
        min-height:68.5%;
        padding-bottom:5%;
        margin-bottom:10%;
    }
    footer{
        line-height:normal;
    }
}
@media screen and (orientation : portrait)
{
    @media screen and (max-width: 768px){
          #pageContent-wrapper{
            width:97.5%;
            min-height:64.5%;
        }
    }
    @media screen and (max-width: 375px){
         #pageContent-wrapper{
            width:97.4%;
            min-height:64.6%;
        }
    }
    @media screen and (max-width: 360px){
         #pageContent-wrapper{
            width:97%;
            min-height:64.4%;
        }
    }
    @media screen and (max-width: 320px){
         #pageContent-wrapper{
            width:97%;
            min-height:59.9%;
        }
    }
}
@media screen and (orientation : landscape)
{
       @media screen and (max-width : 1023px ) {
         #pageContent-wrapper{
             min-height:89%;
         }
         #sidebarContent-wrapper{
             display:inline-block;
         }
    }
}