/* 
    CSS style for screens with widths grater than 640px and not on mobile device

    This page contains all the CSS that dose not alter the main design of the page    
*/

/*   Index Page   
     ==========

     create the default style for the index page
*/

.ContentContianer, #adminLoginContainer{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    border:0px solid #000;
}
.ContentContianer{
    background:none;
    padding-top:200px;
}
.ContentContianer h1{
    display:block;
    width:80%;
    margin:0px auto 25px;
    padding:0px;
    text-shadow:0px 0px 10px #fff;

}
.ContentWrapper, .loginForm{
    display:block;
    background:#fff;
    height:75%;
    width:80%;
    margin:0 auto;
    max-height:75%;
    box-shadow: 0 0 5px 2px #000;
    border-radius:15px;
}
.loginForm{
    padding-top:1px;
}
.loginForm h2{
    width:80%;
    margin:25px auto;
}
.ContentWrapper{
    min-height:500px;
    overflow-y:auto;
    overflow-x:hidden;
}
.ContentWrapper h2{
    width:80%;
    margin:0px auto;
    margin-top:35px;
}
.ContentWrapper form input[type="text"]{
    width:100%;
}
.ContentWrapper form label{
    width:100%;
}

/*
    CSS Style spacific to the Admin Login Pannel
*/
#adminLoginContainer{
    margin-top:125px;
}
.loginInputs{
    display:block;
    width:80%;
    height:auto;
    padding:0px;
    margin:0px auto;
}
.loginInputs input[type="text"], #adminLoginContainer input[type="password"]
{
    width:100%;
    display:block;
    line-height:50px;
}
.loginInputs span{
    display:block;
    width:100%;
}
#adminLoginContainer {
    display:none;
}
#adminLoginContainer h1{
    margin:0 0 25px 0;
}

.logonButtons{
    display:block;
    width:80%;
    margin:0 auto;
}
.logonButtons button{
    display:inline-block;
    width:45%;
    padding:0px;
    margin:0px;
}
.logonButtons button:last-child{
    float:right;
}
.loginButtons button:last-child:after{
    clear:both;
}

/*
    CSS style for the login warnings also use for email error warrnings
*/
.accessWarning{
    width:80%;
    margin:25px auto;
    height:auto;
    padding:25px;
    border:1px dashed #808080;
}
#recoveryPassword{
    margin:0 auto;
    width:80%;
    line-height:50px;
}
.newPassword{
    display:block;
    width:80%;
    margin:0 auto;
    line-height:35px;
}
.accessWarning h1{
    display:block;
    width:100%;
    margin:0px 0;
    color:#ff0000;
}
.accessWarning p{
    font-size:1.25em;
    margin:10px 0;
}
#adminLoginContainer input[type="checkbox"]{
    display:inline-block;
    width:50px;
    height:50px;
    margin:0px;
    
}
#adminLoginContainer span label{
    display:inline-block;
    line-height:50px;
    font-size:1.5em;
    vertical-align:top;
    margin:0;
    padding-left:20px;
}
/* End of CSS style for the Index page and Login form */
/*  CSS style for the price list tables and all the CRUD oporations for all the pages in the PricesController */

#haircutTypeID{
    width:100%;
    background:none;
    border:none;
    text-align-last:center;
    height:50px;
    font-size:150%;
}

/* CSS style for the tables for the price lists and CRUD oporations */

#tableList{
    display:block;
    margin:50px auto;
    width:100%;
    height:70%;
    min-height:70%;
    max-height:70%;
}
.tableListControl{
    display:block;
    height:90%;
}
.table thead tr th:first-child{
    width:70%;
    text-align:left;
}
.table tbody tr td:not(:first-child), .table thead tr th:not(:first-child) {
    text-align:center;
}
#tableEdit{
    display:block;
    width:90%;
    padding:0px;
    margin:50px auto;
}
#tableEdit li:first-child{
    border-bottom:1px solid #000;
}
#tableEdit li{
    display:block;
    line-height:50px;
}
#tableEdit li h2{
    width:100%;
}
#tableEdit label{
    display:inline-block;
    width:80%;
}
#tableEdit span{
    width:18%;
    display:inline-block;
    text-align:right;
}
#tableEdit a{
    color:#000;
}
.changeTypeName{
    display:block;
    width:100%;
    margin:0 auto;
    padding-bottom:0px;
}
.changeTypeName h1{
    padding:0px;
    margin:0px auto;
    margin-top:50px;
    width:90%;
}
.HaircutTypeEdit{
    display:block;
    width:80%;
    margin:0 auto;
    margin-bottom:25px;
}
#haircutCRUD{
    display:block;
    width:80%;
    height:auto;
    margin:50px auto;
    padding:0;
    border:1px dashed #000;
    text-align:center;
}

/* End of CSS style for the tables with in the tables in the Prices controller */
/* End of CSS style for all the pages in the Prices Controller */
/* CSS style for all the pages with in the Portfolio Controller */
.photoGalleryTitle{
    display:block;
    width:100%;
    margin:0 auto;
    margin-top:0px;
}
.photoGalleryTitle h2{
    width:100%;
}
.photoGalleryTitle h1{
    display:block;
    width:100%;
    margin:0px;
    padding:0px;
}
.photoGalleryTitleEdit{
    display:block;
    width:80%;
    margin:0 auto;
}

.changeTypeName{
    cursor:pointer;
}
#PortfolioContainer {
    width:96%;
    max-height:90%;
    margin:25px auto;
}

/* CSS Style for the hover over effects for the photo gallery pages */

.hoverEffect{
    display:block;
    position:relative;
    width:auto;
    max-height:100%;
    min-height:100%;
    overflow:hidden;
    padding:0px;
    margin:25px 0;
    text-align:center;
    cursor:default;
    background:rgba(255,255,255, 0.6);
}
.hoverEffect .overlay{
    width:auto;
    min-width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    display:block;
    padding:0px;
    margin:0px auto;
    background:rgba(0,0,0,0.1);
    top:0;
    left:0px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hoverEffect:hover .overlay{
    background:rgba(0,0,0, 0.5);
    cursor:pointer;   
}

.hoverEffect img {
    display: block;
    position:relative;
    max-height:250px;
    min-height:250px;
    width:auto;
    margin:0 auto;
    text-align:center;
}

.hoverEffect h2{
    text-transform: uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:100%;
    margin-top:25px;
    bottom:0px;
    padding:10px;
    width:100%;
    background:rgba(0,0,0,0.5);
    -webkit-transform: translateY(190px);
    -ms-transform:translateY(190px);
    transform:translateY(190px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.hoverEffect:hover h2{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
    margin:0px;
}
.hoverEffect p.info {
    display: inline-block;
    position:absolute;
    bottom:1.5%;
    left:1.5%;
    text-decoration: none;
    width:97%;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border:1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size:100%;
    font-weight: normal;
}
.hoverEffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hoverEffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}
/* End of CSS style for the hover effect of the images with in the photo gallery*/
/* End of css style for all the pages in the Portfolio Controller */
/* CSS Style for the email contact form in the home controller and also for all the pages
    with in the Email controller
*/

#emailForm input[type="text"]
{
    display:block;
    margin:10px auto;
    line-height:35px;
    width:80%;
}
#emailForm input[type="text"]:first-child{
    margin-top:30px; 
}
#emailForm textarea{
    display:block;
    height:325px;
    resize:none;
    overflow:auto;
}
.messageDisplay{
    display:block;
    width:100%;
    border:1px solid #000;
    height:250px;
    max-height:250px;
    overflow-y:auto;
    padding:15px;
}
#emailForm span{
    display:block;
    width:80%;
    margin:0 auto;
}
.tableHeadding
{
    font-weight:bold;
    background:rgba(0,0,0,0.5);
    font-size:2.0em;
}
.emailtable{
    display:block;
    width:80%;
    margin:0px;
    padding:0px;
    margin:50px auto;
}
.emailtable li{
    display:block;
    line-height:35px;
}
.emailtable li ul{
    display:block;
    width:100%;
    height:450px;
    max-height:450px;
    padding:0px;
    margin:0px;
}
.emailtable li ul li{
    border-bottom:1px dashed #808080;
}
.emailHeadding h2{
    display:inline-block;
    margin:0px;
    padding:0px;
    font-size:120%;
}
.emailHeadding{
    display:block;
    height:25px;
    width:100%;
    padding-bottom:35px;
    margin-bottom:15px;
    border-bottom:1px solid #000;
    font-size:150%;
    background:rgba(0,0,0,0.2);
}
.subject{
    display:inline-block;
    width:100%;
    font-size:68%;
    padding-right:10px;
    text-align:justify;
}

.isUnread {
    font-weight: bold;
    background: rgba(255,255,255,0.5);
}
.emailSelection{
    cursor:pointer; 
    font-size:1.5em;
}

.emailSelection:hover{
    background:rgba(0,0,0,0.2);
}
.emailViewer p 
{
    display:block;
    line-height:35px;
    margin:5px 0;
    padding:5px; 
    background:#fff;
    text-align:left;
}
.emailViewer label{
    display:inline-block;
    width:250px;
}
.emailViewer span
{
    display:block;
    min-height:300px;
    background:#fff;
    padding:5px;
}
.emailViewer button{
    margin:25px 0 0 auto;
}
/* End of the CSS style for the Email contact form in the home controller and all the pages within the Email controller */
/* CSS style for the all the pages with in the Appointment Controller */
.appointmentButtons{
    display:block;
    width:80%;
    margin:0 auto;
    padding:0px;
    text-align:center;
}
.appointmentButtons button{
    display:inline-block;
    margin:0px;
    padding:0px;
}
.appointmentButtons button:first-child{
    float:left;
}
.appointmentButtons button:last-child{
    float:right;
}
.appointmentButtons button::after{
    clear:both;
}
.appointment fieldset {
    display:block;
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    height:405px;
    max-height:405px;
    /*stacking fieldsets above each other*/
    position: relative;
}
.appointment fieldset:not(:first-of-type) {
    display: none;
}
.appointmentConfirmationButtons{
    display:block;
    width:90%;
    margin:35px auto;
    text-align:right;
}
.appointmentConfirmationButtons button{
    display:inline-block;
    margin:0px auto;
}
.appointment {
    display:block;
    width:100%;
    margin:0px auto;
    padding:0px;
    text-align:left;
}
.appointment input, .appointment select{
    width:100%;
    margin:5px 0;
    font-size:1.25em;
    height:35px;  
    border:1px solid #808080;
    border-radius:3px;  
}
.appointment p{
    text-align:left;
    width:100%;
    padding:15px 0;
}
.appointment h1{
    text-align:center;
    margin:0px;
    padding:0px;
    width:100%;
}
.input-group{
    width:100%;
    margin:0px;
    padding:0px;
}
.appointment input[type="text"]
{
    width:100%;
    margin:0;
    border-radius:3px;
    border:1px solid #808080;
}
.customer input[type="text"],.customer input[type="tel"], .customer input[type="email"]{
    display:block;
    width:100%;
    margin: 5px 0;
    padding-left:15px;
}
.appointment button{
    display:inline-block;
    margin:0px;
    position:relative;
}
.appointment button:last-child{
    float:right;
}
.appointment button:last-child:after{
    clear:both;
}
.actionButtons{
    display:block;
    width:80%;
    margin:0 auto;
    text-align:center;
}   
.actionButtons button{
    display:inline-block;
    margin:0px;
    padding:0px;
} 

.appointmentDatepicker{
    display:block;
    text-align:center;
}
.appointmentDatepicker .ui-datepicker{
    display:block;
    font-size:100%;
    width:100%;
    margin:0 auto;
    position:relative;
}
/*CSS style for the progress bar on the createAppointment page with in the appointment controller */
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
    width:100%;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 1em;
	width: 33.33%;
    text-align:center;
    color:#000;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	line-height: 50px;
	display: block;
	font-size: 1.25em;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 24px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/* End of CSS style for the progress bar with in the createNewAppointment page with in the appointments controller */

.master{
    background:#fff;
    border:1px dashed #000;
    margin:25px auto;
    padding:50px;
    width:90%;
    height:auto;
    font-size:100%;
}
.master a{
    color:#000;
}
.master h1{
    font-size:150%;
    padding:0px;
    width:100%
}   
.master h3{
    font-size:100%;
}
.master h3 label{
    display:inline-block;
    width:auto !important;
    vertical-align:middle;
    margin:0px;
    padding:0px;
}
.master li{
    list-style:none;
    line-height:25px;
}
.master li ul{
    display:block;
    margin:25px;
    padding:15px;
    margin-left:auto;
    margin-right:0;
    width:90%;
    border:1px solid #000;
}
.master li ul li p{
    display:inline-block;
    width:auto;
    text-align:left;
    margin:0;
    vertical-align:top;
    padding:0px;
    font-size:100%;
}
.master li ul li span a{
    padding :0px;
    margin :0px;
    text-align:left;
}
.master li ul li label{
    display:inline-block;
    width:200px;
    text-align:left;
    font-weight:bold;
    vertical-align:top;
    margin:0px;
}
.appointmentSearch{
    display:block;
    box-shadow:0px 0px 5px 3px #000;
    padding:25px;
}
.appointmentSearch label{
    display:inline-block;
    margin:20px 0;
    font-size:150%;
    font-weight:200;
}
.appointmentSearch button{
    padding:0px;
    margin:0px 0px 0px auto;
}
.searchResults{
    display:block;
    margin:25px auto;
    padding:15px;
    box-shadow:0px 0px 5px 3px #000;
}
/* Dairy Page */
#selectDate{
    display:block;
    width:100%;
    text-align:center;
    margin-top:50px;
    position:relative;
}
#selectDate:hover{
    cursor:pointer;
}
.datepickerInstruction{
    font-size:40%;
    display:block;
    width:100%;
    margin:0px;
    padding:0px;
    margin-bottom:25px;
}
#datePicker{
    display:block;
    position:relative;
    background:#fff;
    font-size:100%;
}
.datePickerContainer{
    display:none;
    position:absolute;
    overflow:hidden;
    background:#fff;
    padding:1px;
    z-index:99;
    width:100%;
    height:auto;
    top:0px;
    right:0px;
    text-align:center;
} 
.datePickerContainer .ui-datepicker{
    display:block;
    width:100%;
    height:100%;
    position:relative;
}
.diaryTable{
    display:block;
    width:80%;
    min-height:90%;
    margin:2.5% auto;
    position:relative;
    border:none;
}
.diaryTableContainer{
    display:block;
    margin:0px;
    width:100%;
    padding:0px;
    position:relative;
    height:270px;
    border:0px dashed #000;
    overflow:hidden;
}
.diaryButtons{
    display:block;
    width:100%;
    text-align:center;
}
.diaryButtons button:first-child{
    float:left;
}
.diaryButtons button:last-child{
    float:right;
}
.diaryButtons button{
    display:inline-block;
    margin:0px auto;
}
.diaryButtons button:after{
    clear:both;
}
.diaryTableContainer table{
    display:table;
    width:100%;
    margin:0 auto;
}
.diaryTableContainer table thead tr{
    display:table-row;
    line-height:50px;
    border:none;
    background:rgba(0,0,0, 0.3);
}
.diaryTableContainer table thead tr th{
    display:table-cell;
    width:50%;
    padding:0 20px;
}
.diaryTableContainer table tbody tr{
    display:table-row;
    line-height:35px;
    border-bottom:1px dashed #000;
}
.diaryTableContainer table tbody tr td{
    display:table-cell;
    width:50%;
    padding: 0 20px;
}


/* End of Dairy Page */

/* Cookie Policy */

.CookieContainer{
    display:block;
    width:90%;
    margin:0 auto;
    padding:25px;
    overflow:hidden;
    text-align:justify;
}
.CookieContainer h2{
    width:100%;
    margin:25px auto;
}
.cookieTable{
    display:block;
    width:80%;
    margin:25px auto;
    box-shadow:0 0 5px 2px #000;
}
.cookieTable td, .cookieTable th{
    padding:0 25px;
}
.cookieTable td:nth-child(2)
{
    border-left:1px solid #000;
    border-right:1px solid #000;
}
.cookieTable th{
    line-height:50px;
    border-bottom:1px solid #000;
}
.cookieTable td{
    padding:25px;
}
.CookiePolicyFooter{
    display:block;
    line-height:100px;
    width:100%;
    margin:0 auto;
    text-align:center;
}
/* End of CSS style for all the pages with in the Appointment Controller */

/* CSS Style for all the pages for the Admin controller  */

.AccountList{
    width:80%;
    margin:25px auto;
    font-size:1em;
}
.AccountList tr th{
    padding:0 10px;
    font-size:1.25em;
    line-height:50px;
    background:rgba(243,243,243, 0.6);
}
.AccountList tr{
    border-bottom:1px dashed #808080;
}
.AccountList tr:hover{
    background:rgba(243,243,243, 0.4);
}
.AccountList tr td :hover{
    color:#fff;
}
.AccountList tr td{
    padding:0 10px;
    line-height:50px;
    font-size:1em;
}
.AccountList tr td:last-child{
    text-align:right;
}
.AccountList tr a{
    color:#000;
}
/* End of CSS style for all the pages with in the Admin controller */
/* CSS Style when the screens max width is less then 800px */
@media screen and  (max-height: 800px){
    #sidebar-wrapper{
        overflow-y:auto;
    }
    .sidebar-adminLogin{
        margin:0 auto;
    }
    .sidebar-adminLogin  button{
        position:relative;
        margin:0 auto;
        padding:0px;
        left:0px;
    }
}/* End of CSS style when then screens max width is less than 800px */
 /* CSS Style when the screens max width is less then 1240px */
@media screen and (max-width: 1240px){
    #tableEdit li label{
        width:60%;
    }
    #tableEdit li span{
        width:38.7%;
    }
}/* End of CSS style when the screens max width is less than 1240px */
 /* CSS Style when the screens max width is less then 1219px */
@media screen and (max-width: 1219px){
    #tableEdit li label{
        width:50%;
        font-size:80%;
    }
    #tableEdit li span{
        width:48.6%;
        font-size:80%;
    }
}/* End of CSS Style when the screens max width is less then 1219px */
 /* CSS Style when the screens max width is less then 1135px */
@media screen and (max-width: 1135px){
    #tableEdit li label, #tableList li label{
        width:40%;
    }
    #tableEdit li span{
        width:57.9%;
    }
}/*End CSS Style when the screens max width is less then 1135px */
/* CSS Style when the screens max width is less then 1023px */
@media screen and (max-width: 1023px) {
    .ContentContianer{
        padding-top:2%;
    }
    .ContentWrapper{
        min-height:70%;
    }
    .PageTitleHeader h1{
        display:none;
    }
    #adminLoginContainer{
        padding:0px;
        margin:0px;
        height:95%;
    }
    .loginForm{
        font-size:80%;
    }
    .logonButtons{
        display:block;
        margin:0 auto;
    }
    .logonButtons button:last-child{
        float:right;
        margin:0px;
    }
    .loginButtons button:after{
        clear:both;
    }
     #progressbar li{
        width:30%;
    }
}
/* End of CSS style for screens with widths grater than 640px and not on mobile device */
/* CSS Style for screen with a width of 640px or mobile device in landscape orientation */
@media only screen 
    and (max-width: 640px)
    and (orientation: landscape)
{
    .sidebar-adminLogin  button{
        margin-top:20px;
    }
    #wrapper
    {
        overflow-y:auto;
    }
    .ContentWrapper{
        width:100%;
        border-radius:0px;
        border:none;
        padding:25px 0;
        margin:0 -1px;
        height:auto;
        min-height:629px;
        overflow:visible;
    }
    footer p{
        padding:0px;
    }
} /*End of CSS style for screen with width of 640px or mobile device in landscape orientation */
/*  CSS style for screen in with a width of 414px or mobile device in portriate orientation */
@media only screen 
    and (max-width: 414px)
    and (orientation: portrait){

    /* CSS style for the system message pop up */

    #systemMessages{
        width:100%;
    }
    #systemMessages h1{
        font-size:140%;
    }
    #systemMessages button[type="submit"]{
        width:10%;
    }
    #adminLoginContainer{
        margin:0px;
        width:100%;
    }

    /* CSS for default containers for the content of the website */
    .ContentWrapper, .loginForm{
        position:relative;
        margin-left:-1px;
        width:100%;
        border:none;
        border-radius:0px;
        overflow-y:visible;
        
    }
    .ContentWrapper h2{
        text-align:center;
    }
    .ContentWrapper ul li label{
        width:100%;
    }
    .ContentWrapper ul li span{
        width:100%;
    }
    .ContentContianer{
        height:93.2%;
    }
    .ContentContianer form button{
        margin:25px 0;
        width:100%;
    }
    .ContentContianer h1{
        font-size:140%;
        width:100%;
        margin:0px;
        text-align:center;
    }
    #emailForm textarea{
        height:7em;
        font-size:80%;
    }
    input[type="text"]
    {
        font-size:80%;
    }
    .loginForm{
        padding-top:15px;
        font-size:100%;
        height:69%;
        overflow:hidden;
        overflow-y:auto;
    }
    #adminLoginContainer h1{
        margin:0 auto;
        text-align:center;
    }
    #adminLoginContainer p, .accessWarning{
        margin:25px auto;
        text-align:justify;
    }
    #adminLoginContainer p:last-child, .accessWarning p:last-child{
        margin:0 auto;
    }
    #adminLoginContainer span label{
        font-size:100%;
    }
    .appointmentButtons button{
        width:100%;
        margin:10px auto;
    }
    .appointmentButtons button:first-child{
        margin-top:0px;
    }
    #adminLoginContainer form button{
            display:block;
            padding:0px;
            margin:10px 0px;
            width:100%;
            font-size:100%;
    }
    #haircutTypeID{
        font-size:100%;
    }
    .table{
        font-size:100%;
    }
    .photoGalleryTitle{
        padding:0px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    .photoGalleryTitle h2{
        padding:0px;
        margin:0px;
    }
    .formButtons button{
        display:block;
        margin: 10px auto;
        width:100%;
    }
    .appointment{
        width:85%;
        margin: 0px auto;
        padding:0px;
    }
    .appointment fieldset{
        box-shadow:unset;
        margin:0px;
        padding:0px;
        height:auto;
    }
    .appointment fieldset button{
        width:100%;
        margin:10px auto;
        padding:0px;
    }
    .appointment input, .appointment select{
        font-size:80%;
    }
    #tableEdit{
        width:90%;
        margin:0 auto;
    }
    #tableEdit li:first-child{
        border-top:none;
    }
    #tableEdit label{
        width:100%;
        font-size:80%;
    }
    #tableEdit span{
        width:100%;
        font-size:80%;
        text-align:justify;
    }
    #tableEdit span a:first-child{
        float:left;
    }
    #tableEdit span a{
        float:right;
    }
    #tableEdit span a:after{
        clear:both;
    }
    #tableEdit li:not(:first-child){
        border-bottom:1px dashed #000;
        background:rgba(255,255,255, 0.6);
    }
    #tableEdit li h2{
        width:100%;
        font-size:190%;
        text-align:center;
    }
    .HaircutTypeEdit{
        width:100%;
        text-align:justify;
    }
    .EditHaircuts, .AddHaircuts, .AddAccount, .EditAccount{
        display:block;
    }
    /* CSS style for the inputs used for CRUD oporations in the Accounts and Haircut */
    .EditHaircuts input[type="text"], .EditHaircuts select, .AddHaircuts input[type="text"], .AddHaircuts select
    , .AddAccount input[type="text"], .EditAccount input[type="text"], .AddAccount input[type="email"], .AddAccount input[type="tel"], .EditAccount input[type="tel"],
    .EditAccount input[type="email"], .EditAccount input[type="email"], .AddAccount input[type="password"], EditAccount input[type="password"] {
        width:100%;
        margin:10px auto;
        font-size:100%;
        padding-left:20px;
    }
    .AccountList tr th{
        font-size:100%;
    }
    .AccountList tr td{
        font-size:90%;
        padding:0px;
        margin:0px;
        vertical-align:top;
    }
    .AccountList tr a{
        display:block;
        text-align:center;
    }
    .adminButton{
        width:80%;
        margin:10px auto;
    }
    .emailtable li:first-child{
        display:none;
    }
    .emailtable li span{
        width:100% !important;
    }
    .emailtable li span:nth-child(2){
        display:none;
    }
    .emailtable li ul li span:first-child{
        display:none;
    }
    .emailHeadding span h2{
        font-size:80%;
        
    }
} /* End of CSS style for screen in with a width of 414px or mobile device in portriate orientation */
.mapContainer{
    display:block;
    border:1px solid #000;
    box-shadow: 0 0 10px 1px #000;
    border-radius:5px;
    padding:5px;
    height:60%;
    min-height:60%;
    width:80%;
    margin:25px auto;
    overflow:hidden;
}
#map{
    height:100%;
}
.directionsContainer{
    display:block;
    border:1px solid #000; 
    box-shadow:0 0 10px 1px #000;
    margin: 20px auto;
    padding:10px 25px;
    border-radius:5px;
    width:80%;
    overflow:hidden;
}
#map-directions table{
    width:100%;
}
.adp-placemark tr:first-child{
    line-height:50px;
}
.adp-placemark tr:first-child td{
    width:auto;
    padding:0 10px;
    text-align:center;
    font-size:150%;
}
.adp-summary{
    display:block;
    width:100%;
    font-size:150%;
    text-align:right;
    line-height:50px;
}