/*   Index Page   */

.ContentContianer, #adminLoginContainer{
    background:rgba(243,243,243, 0.6);
    padding:0px;
    margin:0;
    padding:25px;
    width:100%;
}
.ContentWrapper, .loginForm{
    border:1px dashed #808080;
    max-height:700px;
    width:100%;
}

.ContentWrapper{
    min-height:500px;
    overflow-y:auto;
}
#adminLoginContainer {
    display:none;
}
#adminLoginContainer h1{
    margin:0 0 25px 0;
}
#adminLoginContainer form button{
    font-size:2.5em;
}
.logonButtons{
    border:0px solid #808080;
    width:80%;
    margin:0 auto;
}
.logonButtons button{
    display:inline-block;
    width:auto;
    min-width:30%;
    line-height:50px;
}
.logonButtons button:last-child{
    margin: 0 auto 0 25.2%;
}
.accessWarning{
    width:80%;
    margin:50px auto;
    height:auto;
    padding:25px;
    border:1px dashed #808080;
}
.accessWarning h1{
    display:block;
    width:100%;
    margin:0px 0;
    color:#ff0000;
}
.accessWarning p{
    font-size:1.25em;
    margin:10px 0;
}
#adminLoginContainer span {
    display:block;
    width:80%;
    border:0px solid #000;
    margin: 0 auto;
}
#adminLoginContainer input[type="checkbox"]{
    display:inline-block;
    width:50px;
    height:50px;
    margin:0px;
    
}
#adminLoginContainer span label{
    display:inline-block;
    line-height:50px;
    font-size:1.5em;
    vertical-align:top;
    margin:0;
    padding-left:20px;
}

/*  Price Page content Style    */

#tableList{
    display:block;
    margin:25px auto;
}
#tableList{
    width:80%;
}
#tableEdit{
    display:block;
    width:80%;
    padding:0px;
    margin: 50px auto;
    min-height:400px;
    overflow:auto;
}
#tableEdit table{
    width:100%;
}

.tableListControl{
    min-height:350px;
    max-height:350px;
    overflow:auto;
    border:0px solid #000;
}
    #tableList hr {
        border-style:dashed;
    }
#tableList table thead tr:first-child,#tableEdit table thead tr:first-child{
    background:rgba(243,243,243, 0.6);
    line-height:50px;
}
#tableList table tbody tr, #tableEdit table tbody tr{
    line-height:25px;
}
#tableEdit table tbody tr{
    border-bottom:1px dashed rgba(243,243,243, 1)
}
#tableEdit table tbody tr td input[type='text'], #tableEdit table tbody tr td select{
    display:block;
    margin:5px 0;
    font-size:1em;
    text-align:left;
}
#tableEdit table tbody tr td select{
    width:100%;
}
#tableEdit table thead tr th:first-child, #tableEdit table tbody tr td:first-child{
    padding-left:10px;
}
#tableEdit thead tr th:last-child, #tableEdit tbody tr td:last-child{
    padding-right:10px;
}
#tableList table tr th:first-child, #tableList table tr td:first-child {
    width:5%;
}
#tableList table tr th:nth-child(2), #tableList table tr td:nth-child(2) {
    width:50%;
}
#tableList table tr th:nth-child(3), #tableList table tr td:nth-child(3) {
    width:7.5%;
    text-align:center;
}
#tableList table tr th:nth-child(4), #tableList table tr td:nth-child(4) {
    width:7.5%;
    text-align:center;
}
#tableList table tr td:nth-child(5) {
    width:35%;
}
#tableList table tr td:nth-child(5) a {
    text-decoration:none;
    color:#000;
}
#tableList table tr td:nth-child(5) a:hover {
    color:#fff;
}
#tableList table tr td label{
    width:60%;
    border:0px solid #000;
    line-height:50px;
    margin:0px;
    padding:0px;
}
#tableList table tr td span{
    border:0px solid #000;
    position:relative;
    right:-9.2%;
    display:inline-block;
    line-height:50px;
    width:30%;
    margin-left:0px;
    margin-right:auto;
    padding:0px;
    text-align:right;
}
#tableList table tr td span a{
    color:#000;
}
#tableEdit table tr td input[type="text"],#tableEdit table tr td select {
   font-size:1em;
   line-height:25px;
   height:25px;
   background:#fff;
   
}
.changeTypeName{
    cursor:pointer;
}
#PortfolioContainer {
    width:96%;
    max-height:90%;
    margin:25px auto;
}
.hoverEffect{
    display:block;
    position:relative;
    width:auto;
    max-height:100%;
    min-height:100%;
    overflow:hidden;
    padding:0px;
    margin:25px 0;
    text-align:center;
    cursor:default;
    background:rgba(255,255,255, 0.6);
}
.hoverEffect .overlay{
    width:auto;
    min-width:100%;
    height:250px;
    position:absolute;
    overflow:hidden;
    display:block;
    padding:0px;
    margin:0px auto;
    background:rgba(0,0,0,0.1);
    top:0;
    left:0px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hoverEffect:hover .overlay{
    background:rgba(0,0,0, 0.5);
    cursor:pointer;   
}

.hoverEffect img {
    display: block;
    position:relative;
    max-height:250px;
    min-height:250px;
    width:auto;
    margin:0 auto;
    text-align:center;
}

.hoverEffect h2{
    text-transform: uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:100%;
    padding:10px;
    background:rgba(0,0,0,0.5);
    -webkit-transform: translateY(190px);
    -ms-transform:translateY(190px);
    transform:translateY(190px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.hoverEffect:hover h2{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform:translateY(0px);
    margin:0px;
}
.hoverEffect p.info {
    display: inline-block;
    position:absolute;
    bottom:1.5%;
    left:1.5%;
    text-decoration: none;
    width:97%;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border:1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size:100%;
    font-weight: normal;
}
.hoverEffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hoverEffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* Start for zoom effect for photo gallery */

.modal-dialog {
    width:600px;
    z-index:10;
}
.modal-backdrop{
    z-index:9;
}
.close{
    margin-right:0px;
    width:20px;
}
.btn.btn-default{
    margin:0px;
    line-height:50px;
    width:100%; 
}
.thumbnail {
    margin:0 auto;
    max-height:500px;
    width:auto;
}

/*  Prices */
#haircutCRUD{
    display:block;
    width:80%;
    height:auto;
    margin:50px auto;
    padding:0;
    border:1px dashed #000;
    text-align:center;
}

/* Email */

.tableHeadding
{
    font-weight:bold;
    background:rgba(0,0,0,0.5);
    font-size:2.0em;
}
.isUnread {
    font-weight: bold;
    background: rgba(255,255,255,0.5);
}
.emailSelection{
    cursor:pointer; 
    font-size:1.5em;
}

.emailSelection:hover{
    background:rgba(0,0,0,0.2);
}
.emailViewer p 
{
    display:block;
    line-height:35px;
    margin:5px 0;
    padding:5px; 
    background:#fff;
    text-align:left;
}
.emailViewer label{
    display:inline-block;
    width:250px;
}
.emailViewer span
{
    display:block;
    min-height:300px;
    background:#fff;
    padding:5px;
}
.emailViewer button{
    margin:25px 0 0 auto;
}
/* CMS Admin */

.AccountList{
    width:80%;
    margin:25px auto;
    font-size:1em;
}
.AccountList tr th{
    padding:0 10px;
    font-size:1.25em;
    line-height:50px;
    background:rgba(243,243,243, 0.6);
}
.AccountList tr{
    border-bottom:1px dashed #808080;
}
.AccountList tr:hover{
    background:rgba(243,243,243, 0.4);
}
.AccountList tr td :hover{
    color:#fff;
}
.AccountList tr td{
    padding:0 10px;
    line-height:50px;
    font-size:1em;
}
.AccountList tr td:last-child{
    text-align:right;
}
.AccountList tr a{
    color:#000;
}
@media screen and (orientation : landscape) {

    @media screen and (max-height: 768px) {
        #adminLoginContainer, #adminLoginContainer form {
            padding: 25px;
        }

        .accessWarning {
            padding: 0px;
        }

        #adminLoginContainer button {
            width: 100%;
            position:relative;
            display:block;
            left:0px;
        }
        .logonButtons button:last-child{
            margin:0px;
        }

        .ContentContianer {
            width: 100%;
            margin: 0;
        }

        .ContentContianer, #adminLoginContainer h1 {
            font-size: 1.25em;
        }
        .ContentWrapper form input[type='text'], .ContentWrapper form textarea{
            font-size:1.5em;
        }
        .accessWarning {
            width: 100%;
            border: none;
            margin: 0 0 13% 0;
        }

            .accessWarning p {
                font-size: 1em;
                text-align: justify;
            }

                .accessWarning p:nth-child(2n+1) {
                    display: block;
                }
        #tableList table{
            font-size:0.75em;
        }
    }
        @media screen and (max-height: 320px) {
            #adminLoginContainer, #adminLoginContainer form {
                min-height: 0px;
                padding: 25px;
            }
            .ContentWrapper form input[type='text'], .ContentWrapper form textarea{
                font-size:1em;
            }
        }

        @media screen and (max-height: 360px) {
            #adminLoginContainer, #adminLoginContainer form {
                min-height: 0px;
                padding: 25px;
            }
        }
    }
    @media screen and (orientation : portrait) {

        @media screen and (max-width: 1023px) {

            #adminLoginContainer, #adminLoginContainer form {
                min-height: 200px;
                padding: 25px;
            }
            .ContentContianer button, #adminLoginContainer button {
                width: 80%;
            }
            #adminLoginContainer input[type="checkbox"]{
                width:25px;
                height:25px;   
            }
            
            #adminLoginContainer span label{
                    line-height:25px;
                    font-size:0.65em;
            }
            #tableList table{
            font-size:0.75em;
            }
            .accessWarning {
                padding: 0px;
            }

            #adminLoginContainer button {
                width: 80%;
            }

            .ContentContianer, #adminLoginContainer h1 {
                font-size: 1em;
            }
            .ContentWrapper form input[type='text'], .ContentWrapper form textarea{
                font-size:0.55em;
            }
            .accessWarning {
                width: 100%;
                border: none;
                margin: 0px;
            }

                .accessWarning p {
                    font-size: 1em;
                    text-align: justify;
                }
                .accessWarning h1{
                    font-size:1em;
                }
                    .accessWarning p:nth-child(2n+1) {
                        display: none;
                    }
            /* CMS Admin */
            .AccountList tr td{
                font-size:0.75em;
            }
        }
        @media screen and (max-width: 320px){
            #tableList table{
            font-size:0.65em;
            }
        }
    }