@media print{
    body{
    background:none;
    color:#000;
    font-size:100%;
    }
    h1, h2, h3{
        letter-spacing:normal;
        font-weight:bolder;
    }
    .master h1{
        font-size:200%;
        text-align:center;
    }
    #sidebar-wrapper, .accessWarning, .appointmentConfirmationButtons, footer{
        display:none;
    }
    .ContentWrapper, .master{
        width:100%;
        height:auto;
        overflow:unset;
        min-height:unset;
        overflow-y:unset;
    }
    .loginDetails{
        text-align:center;
    }
   
    .master h3{
        margin:0px;
        line-height:35px;
    }
    .master li ul{
        margin:0px auto;
    }
    .loginDetails label{
        vertical-align:top;
    }
    .ContentContianer{
        padding:0px;
    }
    #pageContent-wrapper{
        display:block;
        position:relative;
        left:0px;
        width:90%;
        margin:25px auto;
    }
     a[href]:after {
        content: none !important;
      }
}
