/* 
    The CSS style with in this page builds the main frame work for the website
*/

/*      Webpage body reset     */
*{
    padding:0px;
    margin:0px;
    font-family:Consolas;
    font-size:100%;
    color:#000;
}

/* Body layout */

html, body{
    width:100%;
    height:100%;
    background:url(Images/SiteImgs/background.jpg) center center no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
}

/* CSS style for the placeholder values in the website */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
/* End of CSS style for the placeholder values used in the website*/

/* Main Page Wrapper : The section of the 
   page the contains all sections of the website */

#wrapper{
    position:absolute;
    display:block;
    width:100%;
    height:95%;
    padding:0px;
    border:0px solid #000;
    overflow:hidden;
}

/* CSS style for the sidebar navigation bar
   when display on a computer with a screen greater than 1023px
*/

#sidebar-wrapper{
    position:absolute;
    display:inline-block;
    width:30%;
    height:100%;
    margin-left:0;
    border:0px solid #000;
    overflow:hidden;
    z-index:999;
}
/* CSS Style for the main body of the web page 
   This is on the right hand side of the site and 
   displays all the content for the website
*/
#pageContent-wrapper{
    position:absolute;
    left:30%;
    display:inline-block;
    width:69%;
    height:100%;
    margin:0 1px;
    vertical-align:top;
    background:none;
    padding:0px;
    border:0px solid #000;
}
/*
    This provides a wrapper for all the content with in the sidebar
    on the left hand side of the screen.
*/
#sidebarContent-wrapper{
    position:relative;
    display:block;
    width:52%;
    min-width:250px;
    min-height:100%;
    height:auto;
    left:20%;
    padding: 25px 0;
    background:none;
    border:0px solid #000;
}
/* CSS style for the default values for the footer of the website */

footer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:5%;
    background:rgba(128, 128 ,128 ,8);
    text-align:center;
    z-index:999;
    box-shadow:0 0 5px 2px #fff;
    border-top:1px solid #000;
   
}
footer p {
    display:block;
    height:100%;
    padding:12px;
}

/* Default Element Values */

/* Hyperlinks */

a, a:hover, a:active, a:visited{
    color:#000;
    text-decoration:none;
}

/* Paragraph Settings*/

p{
    border:0px solid #000;
    margin:0px;
    padding:0px;
}

/* Heading styles */

h1, h2, h3{
    font-weight:bold;
    text-shadow: 0px 5px 15px rgba(128, 128 ,128 ,1);
    font-family:Consolas;
    font-weight:300;
    text-shadow: 0 0px 10px #fff;
}

h1{
    font-size:300%;
    letter-spacing:3px;
}
h2{
    font-size:200%;
    letter-spacing:2px;
}
h3{
    font-size:100%;
    letter-spacing:1px;
}

/* Div */

div{
    border:0px solid #000;
}

/* Forms */

form{
    border:0px dashed #808080;
    width:100%;
    padding: 0;
}

/* Inputs */

input[type="text"], input[type="password"]{
    display:block;
    width:80%;
    margin-bottom:15px;
    padding: 0 15px;
}
textarea{
    display:block;
    width:80%;
    height:20em;
    font-size:1.25em;
    margin:0 auto;
    padding:15px;
    color:#000;
}
/* Buttons */
button{
    display:block;
    width:30%;
    line-height:50px;
    margin:25px 10% 25px auto;
    font-size:80%;
}
/* Drop Down Menus */
select{
    display:block;
    width: 100%;
    height:37px;
    padding:5px;
    border:1px solid #000;
    border-radius:0px;
}
select:active, select:hover{
    outline:none;
    outline-color:rgba(243, 243, 243, 0.6);
}

/* Unordered Lists */

ul{
    display:block;
    width:80%;
    margin:25px auto;
}
ul li{
    display:block;
    list-style:none;
    margin:0px;
    }

ul li:last-child{
    border:none;
}
ul li p {
    width:100%;
    text-align:center;
    font-size:1.25em;
    font-weight:bold;
}
ul li label{
    display:inline-block;
    width:100%;
    border:0px solid #000;
    padding:0px;
    margin:0px;
    vertical-align:middle;
}
ul li input[type="text"], ul li input[type="password"], ul li input[type="time"],ul li input[type="email"],ul li input[type="tel"]
{
    display:block;
    width:100%;
    line-height:35px;
    border:1px solid #000;
    border-radius:0px;
}

/* CSS style for the content of the sidebar navigation */

#sidebarContent-wrapper .TitlePannel{
    display:block;
    border:0px solid #000;
    text-align:center;
}
.sidebar-nav, .sidebar-Button, .sidebar-nav-dropdown{
    position:relative;
    margin:10% auto;    
    width:95%;
    border:0px solid #000;
    background:rgba(128, 128, 128, 0.9);
    white-space:nowrap;
    box-shadow:0 0 5px 2px #fff;
    border-radius:15px;
}
.TitlePannel h3{
    margin:5%;
    color:#fff;
    text-shadow:0 0 5px #000;
    font-weight:bold;
}
.sidebar-nav button {
    width:100%;
    border:0px solid #000;
    background:none;
    margin:0px;
}

.sidebar-Button{
    margin:25px auto;
    line-height:4.6875em;
}
.sidebar-Button button{
    border:none;
    width:100%;
    color:#000;
    background:none;
}
.sidebar-Button button:hover{
    color:#fff;
}
.sidebar-nav li button:before, .sidebar-nav li button:after{
    position:absolute;
    font-size:1.75em;
}
.sidebar-nav li button:before{
    content:'[';
    left:5px;
}
.sidebar-nav li button:after{
    content:']';
    right:5px;
}
.sidebar-nav li{
    width:100%;
    margin:0px 0px;
    padding:5px 0;
    font-size:1.25em;
    line-height:3.125em;
    list-style:none;
    text-align:center;
}
.sidebar-nav li:hover button{
    color:#fff;
}

.sidebar-adminLogin button{
    display:block;
    width:95%;
    line-height:25px;
    background:rgba(128, 128 ,128 ,8);
    color:#000;
    border:none;
    position:absolute;
    bottom:0px;
    left:10px;
    border-radius:15px;
    box-shadow: 0 0 5px 2px #fff;
}

/* CSS stlye for the sidebar when displayed on a mobile device */

.mobileNav{
    display:none;
    background-size:contain;
    margin:0px;
    text-align:center;  
}
.mobileNav{
    text-align:left !important;
}

#PullDownMenu{
    display:none;
    line-height:3.125em;
    width:100%;
    text-align:center;
    border:1px solid #000;
}
.SocialMedia{
    text-align:center;
}
.socialMediaIcons a{
    display:block;
    width:65px;
}
.SocialMediaIcons a span {
    width:65px;
    height:65px;
    background: url(Images/SiteImgs/SocialMedia.png) no-repeat 0px 0px;
    display:inline-block;
    border:none;
}
.sidebar-Button{
    line-height:normal;
}
.SocialMediaIcons a span.facebookIcon{
    background-position:-20.5px -12px;
}
.SocialMediaIcons a span.twitterIcon{
    background-position:-85px -12px;
}
.SocialMediaIcons a span.instergramIcon{
    background-position:-150.5px -12px;
}
.SocialMediaIcons a span:hover{
    background:url(Images/SiteImgs/SocialMediaHover.png);
}
.SocialMediaIcons a span.facebookIcon:hover {
    background-position:-20.5px -12px;
}
.SocialMediaIcons a span.twitterIcon:hover {
    background-position:-85.5px -12px;
}
.SocialMediaIcons a span.instergramIcon:hover{
    background-position:-150.5px -12px;
}
.sidebar-nav li a{
    color:#000;
}

.MobilePageTitleHeader{
    display:none;

}
.MobilePageTitleHeader h1{
    color:#fff;
    text-shadow:0 0 5px #000;
}
.PageTitleHeader{
    display:block;
    width:100%;
    margin:0 auto;
    padding:0px;
    border:0px solid #000;
    z-index:1;
}
.PageTitleHeader h1 {
    color:#fff;
    text-shadow:0 0 5px #000;
    text-align:center;
    padding:0px;
    margin:0 auto;
    line-height:165%;
    font-size:250%;
    font-weight:300;
    letter-spacing:3px;
    z-index:-1;
}

/*      
        CSS style for the following;
            -   System Messages 
            -   Error Message popups 
            -   Cookie Popup
*/
#popupWindow
{
    display:none;
    position:absolute;
    top:23%;
    width:100%;
    background:rgba(243, 243, 243, 0.6);
    border:1px dashed #000;
    text-align:center;
    padding:25px;
}
#popupWindow button[type="button"]{
    position:absolute;
    top:0px;
    right:0px;
    margin:0px;
    width:2%;
    line-height:25px;
    border:1px dashed #000;
    background:rgba(243, 243, 243, 1);
}
#systemMessages 
{
    display:block;
    position:absolute;
    top:40%;
    right:0px;
    width:100%;
    background:rgba(243, 243, 243, 0.6);
    border:1px dashed   #000;
    text-align:center;
    padding:25px;
    z-index:9999;
}
#systemMessages button[type="submit"]{
    position:absolute;
    top:0px;
    right:0px;
    margin:0px;
    width:2%;
    line-height:25px;
    border:1px dashed #000;
    background:rgba(243, 243, 243, 1);
}
#systemMessages span{
    display:block;
    line-height:50px;
    width:100%;
    text-align:center;
}
#systemMessages span button[type="submit"]
{
    position:relative;
    display:inline-block;
    background:none;
    border:none;
    width:auto;
    cursor:pointer;
}
#systemMessages a{
    color:#000;
    text-decoration:none;
}
.formButtons{
    margin: 25px auto;
    width:100%;
    border:0px;
    text-align:right;
}
.formButtons a {
    display:inline-block;
    width:auto;
    min-width:0%;
    
}
.formButtons button{
    display:inline-block;
    width:30%;
    margin:0px;
}
.field-validation-valid{
    display:block;
    width:100%;
    height:50px;
    padding:5px;
    margin:10px 0;
    border:none;
}
/* CSS Style when the screens max width is less then 1023px */
@media screen and (max-width: 1023px){
    #sidebar-wrapper{
        width:100%;
        height:auto;
        overflow-y:auto;
    }
    #PullDownMenu{
        display:block;
        z-index:99;
        line-height:50px;
        background:#fff;
    }
    #sidebarContent-wrapper{
        display:none;
        padding:0px;
        width:100%;
        margin:0 auto;
        padding:5%;
        left:0px;
        top:0px;
        background:rgba(0,0,0,0.8);
    }
    .sidebar-nav{
        margin:50px auto 0;
    }
    .sidebar-adminLogin{
        display:block;
        height:50px;
        width:95%;
        margin:0 auto;
    }
    .sidebar-adminLogin button{
        display:block;
        position:relative;
        left:0px;
        bottom:0px;
        width:100%;
        line-height:50px;
        margin-top:30px;
    }
    #pageContent-wrapper
    {
        width:100%;
        height:94%;
        left:0px;
        top:6%;
    }
    .ContentContianer{
        top:150px;
    }
    .MobilePageTitleHeader{
        display:block; 
        width:100%;
        margin-top:5%; 
    }
    .MobilePageTitleHeader h1{
        display:block;
        width:100%;
        margin:0px;
        line-height:170px;
        text-align:center;
    }
    button{
        width:49%;
    }
}/* End of CSS Style when the screens max width is less then 1023px */
 /* CSS Style when the screens max width is less then 414px */
@media screen and (max-width: 414px ){
    .MobilePageTitleHeader h1{
        font-size:180%;
        line-height:140px;
    }
    .sidebar-nav{
        margin:0 auto;
    }
    .sidebar-nav li{
        padding:0px;
        line-height:35px;
    }
    .sidebar-nav li a{
        font-size:80%;
    }
    .sidebar-adminLogin{
        height:40px;
    }
    .sidebar-adminLogin button{
        line-height:40px;
    }
    button{
        margin:0 auto;
        line-height:40px;
    }
    footer p{
        display:block;
        line-height:30px;
        padding:0px;
        font-size:90%;  
    }
}/*End of CSS Style when the screens max width is less then 1135px */