@model mobileHairdresser.Database.tblEmployee
@{
    ViewBag.Title = "recoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["user"] == null)
{
    <div class="ContentContianer">
        <div class="loginForm">
            <h2>Recover Password</h2>
            @using (Html.BeginForm("recoverPassword", "login", FormMethod.Post))
            {
                <div class="accessWarning">
                    <h1>WARNING</h1>
                    <p>Access for authorised personel only...</p>
                    <p>@ViewBag.error
                       @Html.ValidationMessageFor(model => model.Email)</p>
                </div>
                @Html.TextBoxFor(model=>model.Email, new { @id = "recoveryPassword", @name = "recoverPassword", @placeholder = "Please enter your email address"});
                <button type="submit">Recover Password</button>
            }
        </div>
    </div>
}

