@model mobileHairdresser.Database.tblLogin
@{
    ViewBag.Title = "recoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["user"] == null)
{
    <div class="ContentContianer">
        <h1>Recover Password</h1>
        <div class="loginForm">
            @using (Html.BeginForm("recoverPassword", "login", FormMethod.Post))
            {
                <div class="accessWarning">
                    <h1>WARNING</h1>
                    <p>Access for authorised personel only...</p>
                    <p>@ViewBag.error</p>
                </div>
                @Html.TextBox("userName" ,null, new { @id = "recoveryPassword", @name = "recoverPassword", @placeholder = "Username."});
                <button type="submit">Recover Password</button>
            }
        </div>
    </div>
}

