
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ContentContianer">
    <h1>Search Appointments</h1>
    <div class="ContentWrapper">

    </div>
</div>

